
$black: #000;
$yellow: #ffcc00;
$lightgreybg: #eaeaea;
$lightgreybr: #dcdbdb;

.tabs {
	margin-bottom: 50px;

	.button {
		background: $yellow;
		color: #999;
		font-size: 16px;
		height: 60px;
		padding: 20px 10px;
		margin-right: 10px;
		text-align: center;
		display: inline-block;
		border-style: solid;
		border-left-width: 1px;
		border-right-width: 1px;
		border-top-width: 1px;
		border-bottom-width: 0px;
		border-color: #f0f0f0;

		&.tab-active {
			background: $lightgreybg;
			border-color: $lightgreybr;
			color: $black;

		}

		&:hover {
			background: #f0f0f0;
			text-decoration: none;
		}
	}

	.menu-expanded {
		display: none;
		padding: 25px;
		position: relative;
		overflow: hidden;
		background: $lightgreybg;
		border-color: $lightgreybr;
		border-style: solid;
		border-left-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-top-width: 0px;

		.button {
			margin-bottom: 10px;
		}

		&[for=online-library]:before {
			left: 35%;
		}

		&[for=health-campus]:before {
			left: 60%;
		}

		&[for=residents]:before {
			left: 85%;
		}
	}
}

@media (max-width: 1000px) {
	.tabs {
		.button {
			width: 100%;
		}
	}
}

@media (max-width: 768px) { 
	
}
